
@font-face{
	font-family: "helveticaneuecyr";
	font-display: swap;
	src: url('../fonts/helveticaneuecyr-bold.woff2') format("woff2"), url("../fonts/helveticaneuecyr-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}